 /* Alap stílusok */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #9e5700;
  line-height: 1.6;
}

/* Fejléc stílusok */
header {
  background-color: #9c4400;
  color: white;
  padding: 10px 0;
  text-align: center;
}

header .logo {
  font-size: 2rem;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

nav ul li a:hover {
  color: #f39c12;
}

/* Szakaszok stílusai */
section {
  padding: 40px 10%;
  text-align: center;
}

section h1, section h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #fd5d00;
}

section p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* Kezdőlap szakasz */
#home p {
  font-size: 1.3rem;
}

.button {
  background-color: #f39c12;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.1rem;
  margin-top: 20px;
}

.button:hover {
  background-color: #e67e22;
}

/* Menü szakasz */
.menu-items {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  flex-wrap: wrap;
}

.menu-item {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 30%;
  text-align: center;
  margin-bottom: 20px;
}

.menu-item h3 {
  font-size: 1.8rem;
  color: #fb6b05;
  margin-bottom: 10px;
}

.menu-item p {
  font-size: 1.1rem;
  color: #777;
  margin-bottom: 15px;
}

.menu-item span {
  font-size: 1.5rem;
  color: #e67e22;
}

/* Kép stílusok */
.menu-item img {
  width: 100%;
  max-width: 250px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.menu-item img:hover {
  transform: scale(1.1);
}

/* Reszponzív dizájn */
@media (max-width: 768px) {
  section {
    padding: 40px 5%;
  }

  .menu-items {
    flex-direction: column;
    align-items: center;
  }

  .menu-item {
    width: 80%;
    margin-bottom: 20px;
  }

  .contact-form {
    width: 90%;
  }
}